body {
	background-color: silver;
}
.serverBar{
	padding: 10px;
	button{
		height: 35px;
		margin-left:10px;
	}
	input{
		width: 350px;
		height: 30px;
	}
}
.normaltable{
	border-top: solid 1px silver;
	border-left: solid 1px silver;
	td, th{
		padding:5px;
		border-bottom: solid 1px silver;
		border-right: solid 1px silver;
	}
}
.fileItems{

}
.fileItems.title{
	font-size:20px;
	font-weight:bolder;
}
.fileBlue{
	color:blue;
	cursor: pointer;
}
.fileGreen{
	color:green;
	cursor: pointer;
}
.chatBorder{
	border:solid 1px silver;
}
.chatContent{
	border:solid 1px lime;
	width: 700px;
	height: 300px;
	padding-left: 10px;
	overflow:scroll;
	overflow-x: hidden;
	li{
		list-style: none;
		height: 30px;
		line-height: 30px;
		font-weight: bold;
		display: flex;
		flex-flow: row nowrap;

	}
	.oneMessage{

	}
	.oneMessage.myself{
		justify-content: flex-end;
		.username{
			order: 2;
			color: red;
		}
		.usermessage{
			order: -1;
		}
	}
}
.chatCtr{

}
.hide{
	display: none;
}

.cartable{
	th{
		padding: 0 5px;
	}
	td{
		text-align: center;
	}
}
.photowall{
	display: flex;
	flex-flow: row wrap;
	overflow: scroll;
	height: 550px;
	width: 900px;
	.singleImg{
		height: 220px;
		width: 200px;
		display: flex;
		flex-flow: column nowrap;
		border: solid 1px orange;
		position: relative;
		.singleImgDis{
			display: flex;
			flex-flow: column nowrap;
			align-items: center;
			justify-content: center;
			height: 200px;
			width: 200px;
			>div{
				// background-size: contain;
				// background-repeat: no-repeat;
			}
		}
		.singleImgName{
			font-size: 16px;
			white-space: nowrap;
			width: 200px;
			text-overflow: ellipsis;
			text-align: center;
			background: white;
			position: absolute;
			bottom: 0px;
			left: 0px;
		}
	}
}
.popShow{
	position: fixed;
	height: 100%;
	width: 100%;
	top:0px;
	left:0px;
	background-color: rgba(211,21,21,0.8);
	z-index: 1;
	display:  flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	.showBigPIC{
		position: relative;
		background-size: contain;
		background-repeat: no-repeat;
		transform-origin: center;
	}
	.ctxbar{
		position: absolute;
		bottom: 40px;
		left: 0px;
	}
}
.popShow.hide{
	display: 	none;
}
