body {
}
.serverBar{
	padding: 10px;
	button{
		height: 35px;
		margin-left:10px;
	}
	input{
		width: 350px;
		height: 30px;
	}
}
.normaltable{
	border-top: solid 1px silver;
	border-left: solid 1px silver;
	td, th{
		padding:5px;
		border-bottom: solid 1px silver;
		border-right: solid 1px silver;
	}
}
.fileItems{

}
.fileItems.title{
	font-size:20px;
	font-weight:bolder;
}
.fileBlue{
	color:blue;
	cursor: pointer;
}
.fileGreen{
	color:green;
	cursor: pointer;
}
.chatBorder{
	border:solid 1px silver;
}
.chatContent{
	border:solid 1px lime;
	width: 700px;
	height: 300px;
	padding-left: 10px;
	overflow:scroll;
	overflow-x: hidden;
	li{
		list-style: none;
		height: 30px;
		line-height: 30px;
		font-weight: bold;
		display: flex;
		flex-flow: row nowrap;

	}
	.oneMessage{

	}
	.oneMessage.myself{
		justify-content: flex-end;
		.username{
			order: 2;
			color: red;
		}
		.usermessage{
			order: -1;
		}
	}
}
.chatCtr{

}
.hide{
	display: none;
}